<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'qa_app/style.css' %}">
</head>
<body>
  <div class="container">
    <h2>Sign Up</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
    <h2>Please Enter a Long and Unique Password Matching Requirements</h2>
    <p>Already have an account? <a href="{% url 'signin' %}">Sign In</a></p>
  </div>
</body>
</html>
